/* reset and base style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-container {
    position:relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
   border-radius: 10px;
   border:2px solid #8faefb;
    box-shadow: 10 10px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    transition: all 0.5s ease;
}

.image-overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 191, 255, 0.5), rgba(0, 191, 255, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    color: white;
}

.image-overlay h3{
    font-size: 24px;
    margin-bottom: 10px;
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

.image-overlay p{
    transform: translateY(20px);
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 0 20px;
}

/* hover effect */
.image-container:hover img{
    transform: scale(1.1);
    filter: brightness(0.7);
}

.image-container:hover .image-overlay{
    opacity: 1;
    transform: translateY(0);
}

.image-container:hover .image-overlay h3{
    transform: translateY(0); 
    transition-delay:0.2s;
}
.image-container:hover .image-overlay p{
    transform: translateY(0);
    transition-delay:0.3s;
}

/*shine effect*/
.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, rgba(0, 191, 255, 0.5) 0%, rgba(0, 191, 255, 0.5)100%);
    transform: skewX(-25deg);
    transition: all 0.6s ease;
}

.image-container:hover::after {
    left: 150%;
}