@import url();


html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  background-color:rgb(15, 30, 128);
  background-image: url("../img/CRH.jpg");
  background-size: cover;
  min-height: 100vh;
}

h1, h2, h3, p {
  color: rgb(7, 5, 111);
  position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: rgb(116, 116, 246);
  color: rgb(189, 189, 225);
}

h1, h2, h3, p {
  color: rgb(7, 5, 111);
 text-align: center;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
  }
}



.header {
  padding: 0px;
  color: rgb(255, 255, 255);
  display: justify-content;
  flex-direction: center;
  background-color: #6072ff;
  color: gba(9, 24, 133, 0.6);
}

.item-sub {
  color: rgb(255, 255, 255);
  margin: 0px;
  display: row;
  align-items: left;
  align-content: left;
}


.header-p {
  background-color: rgb(237, 20, 118);
  color:rgb(237, 20, 118);
}

.buttons{
  justify-content: left;
  margin: 20px;
  margin-left: 14px;
  margin-right: 3px;
  background-color: hsl(0, 0%, 100%);
  text-emphasis-color: #5c163f;
  width: 20%;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
  position: sticky bottom;
  font-size: 20px;

  a {
    background-color: #bb2f81;
    color: rgb(255, 206, 225);
    display: block;
    padding: 5px;
    text-align:center;
    position: sticky;
    align-items: bottom;
    
    &:hover,
    &:focus {
      background-color: rgb(255, 143, 218);
      color: white;
    }
  }
}

/* reset and base style*/
.image-container {
    /*position: relative;*/
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    border:2px solid #8faefb;
    box-shadow: 10px 10px 10px rgba(9, 24, 133, 0.6);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0px;
    color: rgb(20, 52, 237);
}
.content {
  display: flex;
  color: #003887;
  text-align: right;
  margin: 0px;
  height: 0px;
  width: 0px
}


.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.image-overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(0, 191, 255, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    color: white;
}

.image-overlay h3 {
    font-size: 24px;
    margin-bottom: 10px;
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

.image-overlay p {
    transform: translateY(20px);
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 0 20px;
}

/* hover effect */
.image-container:hover img{
    transform: scale(1.1);
    filter: brightness(0.7);
}

.image-container:hover .image-overlay{
    opacity: 1;
    transform: translateY(0);
}

.image-container:hover .image-overlay h3{
    transform: translateY(0); 
    transition-delay:0.2s;
}
.image-container:hover .image-overlay p{
    transform: translateY(0);
    transition-delay:0.3s;
}

/* shine effect */
.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 50%;
    background: linear-gradient(120deg, rgba(179, 194, 255, 0.5) 0%, rgba(0, 191, 255, 0.5)100%);
    transform: skewX(-25deg);
    transition: all 0.6s ease;
}

.image-container:hover::after {
    left: 50%;
}

.homepage {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

ul.navigation {
  background-color: #6072ff;;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li{

    a{
      background-color: #6072ff;
      color: rgb(255, 255, 255);
      display: block;
      padding: 10px;
      text-align:center;
      
      &:hover,
      &:focus {
        background-color: rgb(15, 30, 128);
        color: white;
      }
    }
  }
}

ul.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0;
  color: white;

  li {

    a {
      background-color: rgb(128, 236, 255);
      color: rgba(9, 24, 133, 0.6);
      display: block;
      padding: 10px;
      text-align:center;
      
      &:hover,
      &:focus {
        background-color: rgb(183, 45, 109);
        color: white;
      }
    }
  }
}

/* Featured Section on Homepage Styles */
.featured {

  .content {
    gap: 40px;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
  }

  .category {
    display: flex;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 40px;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  .image-container {
    flex-basis: 55%;
    min-width: 400px;
    flex-grow: 1;
  }

  .info {
    flex-basis: auto;
    flex-grow: 1;
  }

  a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
  }
}

/* Styles for screens above or equal to 600px wide */
@media (width >= 600px) {

  body {
    background-color: var(--primary-color);
    color: var(--off-white);
  }

  .item {
    background: #e52f96;
    color: rgb(193, 24, 114);
    padding: 10px;
    flex-basis: 92%;
    max-width: 440px;
    margin: 5px;
  }

  h1, h2, h3 {
    color: var(--white);
  }  
  
  html{
    box-sizing: border-box;
  }
  
  *, *:before , *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }

  section { 
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 5px;
    justify-content: center;
  }
}

  

@media (width > 670px) {

  h1 {
    font-size: clamp(36px, 5vw, 60px);
    color: rgb(13, 36, 128);
  }

 h2, p {
    color: rgb(214, 218, 239);
  }

  h3 {
    color: rgb(6, 18, 99);
  }
  
  .info p{
    color: rgb(61, 170, 200);
  }
  
  section {
    column-gap: 2%;
  }
}

  

@media (width >= 1000px) {

  .item {
    padding: 30px;
    font-size: 18px;
    
  }
}